<div class="container-fluid main">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="center-img" src="/assets/images/large_logo.png">
        <h1 class="burger-add">Add a New Burger</h1>
            <form class="new-burger">
                <div class="form-group">
                    <label for="burger"></label>
                    <input type="text" id="burger" name="name" placeholder="Burger Name">
                </div>
            <button id="burger-submit" type="submit">Add Burger</button>

            </form>
    </div>
    </div>

    <nav class="navbar" id="stickyNav">
        <a href="#section1">Uneaten Burgers</a>
        <a href="#section2">Eaten Burgers</a>
    </nav>




    <div id="section1" class="jumbotron jumbotron-fluid">
    <h2>Uneaten Burgers</h2>
    <div class="row eaten-burgers">
    <div class="card-columns">
        {{#each burgers }}
            {{#unless devoured}}
                <div class="card burgDiv">
                    <img class="card-img-top" src="/assets/images/burger.jpg">
                    <div class="card-body">
                    <h4 class="card-title">{{burger_name}}</h4>

                    <button class="change-status" data-id="{{id}}" data-status="{{devoured}}">
                        Eat the Burger!
                    </button>
                    </div>
                </div>
            {{/unless}}
        
        {{/each}}
    </div>
    </div>
    </div>

    <div id="section2" class="jumbotron jumbotron-fluid">
    <h2>Eaten Burgers</h2>
    <div class="row eaten-burgers">
    <div class="card-columns">
        {{#each burgers }}
            {{#if devoured}}
                <div class="card burgDiv">
                    <img class="card-img-top" src="/assets/images/burger.jpg">
                    <div class="card-body">
                    <h4 class="card-title">{{burger_name}}</h4>

                    </div>
                </div>
            {{/if}}
        
        {{/each}}
    </div>
    </div>
    </div>

</div>




